<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="iplaylf2" value="https://nuget.pkg.github.com/iplaylf2/index.json" />
        <add key="local" value=".lf2.nupkg" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="iplaylf2">
            <package pattern="LF2.*" />
        </packageSource>
        <packageSource key="local">
            <package pattern="LF2.Taiwu.*" />
        </packageSource>
    </packageSourceMapping>
    <packageSourceCredentials>
        <iplaylf2>
            <add key="Username" value="%GITHUB_USERNAME%" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </iplaylf2>
    </packageSourceCredentials>
</configuration>