<Configuration>
    <PackageSources>
        <Add key="iplaylf2" value="https://nuget.pkg.github.com/iplaylf2/index.json" />
    </PackageSources>
    <PackageSourceCredentials>
        <iplaylf2>
            <Add key="Username" value="%GITHUB_USERNAME%" />
            <Add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </iplaylf2>
    </PackageSourceCredentials>
</Configuration>